body {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.index-wrapper {
	background-color: #849d8f;	
	background-image: url("../img/slider-one.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;

	min-height: 2500px;
}

.site-wrapper {
	background-color: #849d8f;	
}

.index-wrapper::before,
.index-wrapper::after {
	content: "";
	visibility: hidden;
}

.index-wrapper::before {
	background-image: url("../img/slider-two.png");
}

.index-wrapper::after {
	background-image: url("../img/slider-three.png");
}

.button {
	border: none;
	padding: 0;
	border-radius: 0;
	background-color: 0;
}

a {
	text-decoration: none;
}

a:hover, a:focus {
	color: #ffbc9e;
}

a:active {
	color: #ffbc9e;
}

.search-form,
.login-form,
.modal,
.basket {
	display: none;
}

.container {
	width: 1150px;
	margin: 0 auto;
	padding: 0 25px;
}

/* Header */

.main-header {
	padding-top: 15px;
	margin-bottom: -50px;
}

.main-navigation {
	display: flex;
}

.main-logo {
	width: 155px;
	height: 65px;
	margin-right: 25px;
}

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	line-height: 18px;
	font-weight: 700;
	color: #fff;
	display: ;	
	width: 700px;	

	display: flex;
}

.user-navigation {
	margin: 0;
	margin-left: auto; 
	padding: 0;
	list-style: none;
	width: 270px;	

	display: flex;
}

nav p {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;	
}

.main-navigation-big {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}


.slider-list ul,
.products ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-menu a {
	color: #323232;
}

/* Main menu details */

.main-menu li {
	margin-left: 28px;
}

.first-level-menu {	
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.first-level-menu:hover,
.first-level-menu:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #333333;
	text-decoration: none;
	background-color: #f7f6f3;
	height: 32px;
	border-radius: 35px;
	padding: 5px 15px;

}

.first-level-menu a:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px 0 #696969;
}


.main-menu-current  a {
	background-color: #d07058;
	text-decoration: none;
	height: 32px;
	border-radius: 35px;
	padding: 5px 15px;
}

.sub-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	display: none;
}

.sub-menu li {
	margin: 0;
	padding: 0;
	padding: 5px 15px;
}

.sub-menu a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
}

.sub-menu li:first-child {
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.parent-menu:hover > ul {
	display: block;
	background: #f8f7f4;
	min-width: 143px;
	margin-top: 10px;
	margin-left: -5px;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba (0, 0, 0, 0.4);
}

.sub-menu-list:hover,
.sub-menu-list:focus {
	background: #fbded7;
}

.sub-menu-list:active {
	background: #f6b5a5;
}

.sub-menu-current {
	background: #d07058;
}

.sub-menu-current a {
	color: white;
}

.newbie-submenu-header {
	font-weight: 700;	
}


/* User navigation details */

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: white;
}

.login-form .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
}

.login-info a {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.basket-link-empty {
	font-size: 14px;
	line-height: 16px;
	color: white;
}

.basket-link a {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.basket-link p {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.basket-link .transparent {
	color: #999999;
}

.basket-link p:last-of-type {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;	
}

.basket-link .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
}


/* Slider + Gradient buttons */

.slider {
	
	position: relative;
	padding-top: 321px;
	text-align: center;
	color: #ffffff;

	width: 1150px;
	min-height: 290px;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.gradient-button {
	display: inline-block;
	padding: 12px 44px;

	font-weight: 500;
	font-size: 31px;
	line-height: 41px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);	
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;

	cursor: pointer;
}

.gradient-button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
} 

.gradient-button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 63px;
	left: 0;
	z-index: 20;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#slider-product-1:checked ~ .index-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-one.png");
}

#slider-product-2:checked ~ .index-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-two.png");
}

#slider-product-3:checked ~ .index-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-three.png");
}

#slider-product-1:checked ~ .index-wrapper #slide1,
#slider-product-2:checked ~ .index-wrapper #slide2,
#slider-product-3:checked ~ .index-wrapper #slide3 {
	display: block;
}

#slider-product-1:checked ~ .index-wrapper label[for="slider-product-1"],
#slider-product-2:checked ~ .index-wrapper label[for="slider-product-2"],
#slider-product-3:checked ~ .index-wrapper label[for="slider-product-3"] {
	background-color: #ffffff;
}

/* Main banner */

.main-banners {
	width: 1150px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.main-banner {
	width: 520px;
	height: 190px;
}

.main-banner h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700px;	
}

.main-banner p {
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 700;
}

.main-banner a {
	font-size: 18px;
	line-height: 24px;
	color: white;
	font-weight: 700;
}

.raspberry {
	background: url("../img/raspberry-back.png") no-repeat;
	padding: 20px;
	position: relative;
}

.chocolate {
	background: url("../img/chocolate-back.png") no-repeat;
	padding: 20px;
	position: relative;
}

.raspberry .button,
.chocolate .button {
	position: absolute;
	right: 20px;
	bottom: 20px; 
}

/* Products */

.products {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	border: none;

	width: 1150px;
}

.products-wrapper {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
}

.product-item {
	position: relative;
	width: 293px;
	min-height: 362px;	
}

.product-item-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	width: 293px;
	min-height: 405px;
	padding: 5px 15px 20px;
	border-radius: 5px;
}

.flag {
	position: absolute;
	top: 9px;
	left: 13px;
	width: 61px;
	height: 61px;
	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: cover;
	border-radius: 50%;
}

.product-item-img {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 267px;
	height: 267px;
	border-radius: 50%;
	overflow: hidden;
}

.product-item-img img {
	display: block;
	width: 100%;
}

.price {
	position: absolute;
	top: 218px;
	right: 13px;
	left: 13px;
	font-size: 45px;
	line-height: 45px;
	color: #fff;
}

.price .lesser {
	font-size: 30px;
}

.rouble {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 26px;
	height: 32px;
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.product-item-title {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.product-item-title a {
	color: white;
	text-decoration: underline;
}

.product-item-link {
	position: absolute;
	display: none;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	padding: 11px;
	width: 200px;
	height: 44px;
	text-align: center;
	text-decoration: none;
	color: #fefefe;
	font-size: 18px;
	line-height: 22px;
	border-radius: 18px / 22px 22px 22px 22px;
	background-clip: padding-box;
	background-color: #e74d37;
	box-shadow: 0 1px 2px #ab1000;
	background-image: linear-gradient (bottom, #e74a35 0%, #f16843 100%);
}

.product-item:hover {
	z-index: 2;
}

.product-item:hover .product-item-inner {
	background-color: rgba(248, 247, 244, 0.2);
}

.product-item:hover .product-item-link {
	display: block;
}

/* Features */

.features {
	width: 1110px;
	margin-bottom: 40px;

	color: #323232;
	background-image: url("../img/pattern.jpg");
	border-radius: 10px;
	padding: 30px 20px;
}

.features h2 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	font-size: 24px;
	line-height: 30px;
}

.feature-items {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feature-items li {	
	width: 485px;
	height: 60px;
	margin-bottom: 20px;
}

.features li {	
	font-weight: 400;
}

/* Blog and Subscribe */

.blog-and-subscribe {
	width: 1150px;
	margin-bottom: 40px;

	display: flex;
	justify-content: space-between;
}

.blog-link h2 {
	max-width: 285px;
}

.blog-link {
	color: #323232;
	background: url("../img/strawberry-back.jpg") no-repeat;	
	width: 515px;
	height: 195px;
	padding: 25px 20px 0px 25px;
	border-radius: 15px;
}

.blog-link a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	color: #323232;
}

.subscribe {

	width: 548px;
	height: 206px;
	border-radius: 15px;
	background-image: url("../img/post-back.jpg");	
	padding: 6px;

	font-size: 16px;
}

.subscribe-inner {
	background-color: #f8f7f4;
	height: 141px;
	border-radius: 10px;
	padding: 30px 20px 35px 20px;
}

.subscribe-inner b {
	font-weight: 400;
	color: #5a5a5a;
}

.subscribe-form {
	margin: 0;
	padding: 0;
	border: none;
	margin-top: 40px;

	display: flex;
}


.subscribe-form input {
	border: none;
	border: 1px solid #f3f3f2;
	font-size: 16px;
	color: #999999;
	width: 370px;
	height: 43px;
	border-radius: 5px;
	margin-right: 15px;
}

.subscribe-form button {
	margin: 0;
	padding: 0;

	color: white;
	width: 130px;
	height: 45px;

	font-size: 18px;
}

/* Map */

.map {
	width: 1200px;
	height: 430px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
}

.map-label {

	position: absolute;
	
	background-color: white;
	width: 240px;
	height: 245px;
	border-radius: 10px;	
	padding: 30px;
}

.map-label p {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	font-size: 14px;
	font-weight: 400;
	color: #323232;
	max-width: 200px;
}

.map .address-bold {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}


.map a {
	margin: 0;
	padding: 0;
	padding: 12px 0;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
	min-width: 250px;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
}

.footer-social ul,
.footer-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social {
	width: 270px;
	display: flex;
}

.footer-social a {
	color: white;
}

.footer-links {
	width: 560px;
	display: flex;
}

.footer-links a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: white;
	text-decoration: underline;
}

.footer-links .footer-link-bold {
	font-weight: 700;
}

.footer-copyright {
	margin: 0;
	padding: 0;

	width: 270px
	font-size: 12px;
	font-weight: 400;
}

.footer-copyright a {
	color: white;
	text-decoration: underline;
}

/* catalog */

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
}

.breadcrumbs li {
	margin-right: 15px;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	color: white;
	font-weight: 400;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs .breadcrumbs-current {
	border: none;
}

.filters {
	width: 860px;
	min-height: 135px;
	font-size: 16px;
	line-height: 18px;

	display: flex;
}

.filter-header {
	font-size: 14px;
	line-height: 16px;	
}

.pagination-item-disabled {
	transform: scale(-1,1)
}

.pagination-item {
	display: inline-block;
}

.pagination-item a {
	line-height: 25px;
	color: white;
	float: left;
}

.pagination-item-current a {
	color: #353535;	
	text-align: center;
	width: 25px;
	height: 25px;
	background: white;
	border-radius: 50%;	
}

