body {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: 10px auto;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
	background-color: #849d8f;	
}

.button {
	border: none;
	padding: 0;
	border-radius: 0;
	background-color: 0;
}

a {
	text-decoration: none;
}

a:hover, a:focus {
	color: #ffbc9e;
}

.visually-hidden {
	display: none;
}

nav p {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;	
}

.main-navigation-big {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.main-menu, 
.sub-menu,
.user-navigation,
.slider ul,
.products ul {
	list-style: none;
}

.sub-menu li a {
	color: #323232;
}

.main-navigation {
	display: flex;
}

/* Main menu */

.main-menu {
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	display: flex;	
}

.main-menu li {
	margin-left: 28px;
}

.main-menu > li > a {	
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.main-menu > ul {
	display: flex;
}

.main-menu > li > a:not(.main-menu-current):hover,
.main-menu > li > a:not(.main-menu-current):focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #333333;
	text-decoration: none;
	background-color: #f7f6f3;
	height: 32px;
	border-radius: 35px;
	padding: 5px 15px;

}

.main-menu > li > a:not(.main-menu-current):active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px 0 #696969;
}


.main-menu-current > a {
	background-color: #d07058;
	text-decoration: none;
	height: 32px;
	border-radius: 35px;
	padding: 5px 15px;
}

.sub-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	display: none;
}

.sub-menu li {
	margin: 0;
	padding: 0;
	padding: 5px 15px;
}

.sub-menu a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
}

.sub-menu li:first-child a {
	font-weight: 700;	
}

.sub-menu li:first-child {
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.main-menu li:hover > ul {
	display: block;
	background: #f8f7f4;
	min-width: 143px;
	margin-top: 10px;
	margin-left: -5px;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba (0, 0, 0, 0.4);
}

.sub-menu li:not(:first-child):not(.sub-menu-current):hover,
.sub-menu li:not(:first-child):not(.sub-menu-current):focus {
	background: #fbded7;
}

.sub-menu li:not(:first-child):not(.sub-menu-current):active {
	background: #f6b5a5;
}

.sub-menu-current {
	background: #d07058;
}

.sub-menu-current a {
	color: white;
}

/* User navigation */

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: white;
}

.login-form .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
}

.login-form .login-info a {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.basket-link-empty {
	font-size: 14px;
	line-height: 16px;
	color: white;
}

.basket-link a {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.basket-link p {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.basket-link .transparent {
	color: #999999;
}

.basket-link p:last-of-type {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;	
}

.basket-link .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
}

/* Slider + Gradient buttons */

.slider {
	text-align: center;
}

.slider h1 {
	font-size: 60px;
	line-height: 61px;
	font-weight: 700;
}


.slider a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: white;	
}

.gradient-button {
	padding: 15px 35px;
	background-image: linear-gradient(to top, #e74a35, #f26843);	
	border-radius: 35px;
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.gradient-button:hover {
  	box-shadow: 0 2px 2px #ab1000;
	background-image: linear-gradient(to bottom, #eb6e5d 0%, #f48668 100%);
} 

.gradient-button:active {
	box-shadow: inset 0 2px 2px #942617;
	background-image: linear-gradient(to bottom, #e1613e 0%, #d64531 100%);
}

/* Main banner */

.main-banner h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700px;	
}

.main-banner p {
	font-size: 18px;
	font-weight: 700;
}

.main-banner a {
	font-size: 18px;
	line-height: 24px;
	color: white;
	font-weight: 700;
}

.main-banner {
	width: 560px;
	height: 230px;
	display: inline-block;
}

.raspberry {
	background: url("../img/raspberry-back.png") no-repeat;
}

.chocolate {
	background: url("../img/chocolate-back.png") no-repeat;
}

/* Products */

.product-list {
	display: flex;
}

.product-item img {
	border-radius: 50%;
}

.product-item p {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.product-item h4 a {
	color: white;
	text-decoration: underline;
}

.product-item > a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
}

.product-item:hover {
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 5px;
}

.features {
	color: #323232;
	background-image: url("../img/pattern.jpg");
	width: 1145px;
	height: 305px;
	border-radius: 10px;
	padding: 10px 20px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
}

.feature-items {
	list-style: none;
}

.features li {	
	font-weight: 400;
}

/* Blog and Subscribe */

.blog-and-subscribe {
	display: flex;
	justify-content: space-between;
}

.blog-link h2 {
	max-width: 285px;
}

.blog-link {
	color: #323232;
	background: url("../img/strawberry-back.jpg") no-repeat;	
	width: 562px;
	height: 222px;
	padding: 27px 20px 0px 25px;
	border-radius: 15px; /* issue: не применяется радиус*/
}

.blog-link h2 a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	color: #323232;
}

.subscribe {
	display: flex;
	width: 535px;
	height: 222px;
	border-radius: 20px;
	background-image: url("../img/subscribe.png"), url("../img/post-back.jpg");
	background-clip: padding-box, border-box;
	padding: 27px 20px 0px 25px;

}

.subscribe b {
	font-weight: 400;
	color: #5a5a5a;
}



.subscribe-form input {
	font: inherit;
	line-height: 24px;
	color: #999999;
	width: 368px;
	height: 44px;
	border-radius: 15px;
}

.subscribe-form button {
	color: white;
}

/* Map */

.map {
	display: flex;
	position: relative;
}

.map-label {
	background-color: white;
	width: 302px;
	height: 305px;
	border-radius: 10px;
	position: absolute;
	right: 28;
	top: 62;
	padding: 43px 0px 0px 27px;
}

.map p {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
	max-width: 200px;
}

.map .address-bold {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;
	min-width: 252px;
}

.footer-social ul,
.footer-links ul {
	list-style: none;
}

.footer-social a {
	color: white;
}

.footer-links a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: white;
	text-decoration: underline;
}

.footer-links li:first-child a {
	font-weight: 700;
}

.footer-copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.footer-copyright a {
	color: white;
	text-decoration: underline;
}

/* catalog */

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	color: white;
	font-weight: 400;
	text-decoration: underline;
}

.breadcrumbs-current a {
	text-decoration: none;
}

.main-catalog ul {
	list-style: none;
}

.filters {
	font-size: 16px;
	line-height: 18px;
}

.filter-header {
	font-size: 14px;
	line-height: 16px;	
}

.pagination-item-disabled {
	transform: scale(-1,1)
}

.pagination-item {
	display: inline-block;
}

.pagination-item a {
	line-height: 25px;
	color: white;
	float: left;
}

.pagination-item-current a {
	color: #353535;	
	text-align: center;
	width: 25px;
	height: 25px;
	background: white;
	border-radius: 50%;	
}

